* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-97395.jpg?w=826&t=st=1688818749~exp=1688819349~hmac=5cff5b6d0fa1e02a3a66947867a01a1c1a9aaabb16133a33b9c018d4b7f115fe");
    background-repeat: norepeat;
    background-size: cover;
    height: 690px;
    width: 100%;
}

.button.backgroundBlue {
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.button.backgroundRed {
    background: #e43a15;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #e65245, #e43a15);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #e65245, #e43a15); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.main-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 3px;
}
.textview {
    margin: 3px;
    height: 100px;
    width: 400px;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(240, 240, 240);
    text-align: right;
}

table {
    margin: 3px;
}

.button {
    height: 70px;
    width: 98px;
    font-size: 30px;
    border: none;
    background: linear-gradient(rgb(255, 255, 255), rgba(247, 240, 151, 0.856));
    cursor: pointer;
}
