* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-97395.jpg?w=826&t=st=1688818132~exp=1688818732~hmac=6729790151c9ad5aaabf02ef627925e92620c6e0f71c69da18fe1cfb02335b7f");
    background-repeat: norepeat;
    background-size: cover;
    height: 690px;
    width: 100%;
}

.button.backgroundBlue {
    background: linear-gradient(blue, skyblue);
    color: #fff;
}

.button.backgroundRed {
    background: linear-gradient(red, orangered);
    color: #fff;
}

.main-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    background-color: rgb(0, 0, 0);
    display: inline-block;
    padding: 3px;
}
.textview {
    margin: 3px;
    height: 100px;
    width: 400px;
    padding: 10px;
    font-size: 30px;
    background-color: rgb(240, 240, 240);
    text-align: right;
}

table {
    margin: 3px;
}

.button {
    height: 70px;
    width: 98px;
    font-size: 30px;
    border: none;
    background: linear-gradient(rgb(255, 255, 255), rgba(247, 240, 151, 0.856));
    cursor: pointer;
}
